name: Check
defaults:
    run:
        shell: bash --noprofile --norc -o errexit -o nounset -o pipefail -o xtrace {0}

jobs:
    check:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - run: bash .biobuddies/includes.bash forceready
            - run: just pcam --color always --show-diff-on-failure
            - run: |
                  source .venv/bin/activate \
                      && python -m manage check \
                      && python -m manage makemigrations --check
            - run: |
                  source .venv/bin/activate \
                      && just test

on: # yamllint disable-line rule:truthy
    pull_request:
    push:
        branches:
            - main
    workflow_dispatch:

run-name: Checking on behalf of ${{ github.actor }}
